doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  
    script(type="text/javascript", src="/javascripts/jquery.min.js")
    script(type="text/javascript", src="/javascripts/bootstrap.min.js")
    script(type="text/javascript", src="/javascripts/application.js")
  body
    block content
    div(class="container footer")
      p(class="right") By 
        a(href="http://twitter.com/squidarth") @squidarth 
        span and 
        a(href="http://twitter.com/quintendf") @quintendf

