.hidden {
  display: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1 a {
  text-decoration: none;
  color: #660066;
}

h1 a:hover {
  text-decoration: none;
  color: #990066;
}

.thank-you {
  margin-top: 20px;
}

.footer {
  margin-top: 10px;
  color: #bbb;
}

.right {
  text-align: right;
}
